<div class="tile"
>
    <div class="tile-body"
         style="display: block;
         justify-content: center;
         text-align: center;
         margin: 0;
         vertical-align: center;
         color: red;">

        <h2> Link hết hạn , mời tạo lại </h2>
    </div>
</div>