<div class="datalist">
    <div class="col-12" id="headerlist">
        <div class="btnaddbanner">
            <a href="/categorys/add" class="btn btn-primary">Thêm</a>
        </div>
    </div>
    <div class="tables">
        <h3>Danh sách</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Tên loại</th>
                <th>Ảnh</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            {{#each listCate}}
                <tr>
                    <td scope="row">{{this.title}}</td>
                    <td><img src="{{this.CateImg}}" style="width: 50px;height: 50px;align-items: center"></td>
                    <td>
                        <a href="/cate/edit/{{this._id}}" class="btn btn-primary" id="btnAction">Sửa</a>
                        <a href="/cate/delete/{{this._id}}" onclick="return confirm('Bạn có muốn xóa không?')"
                           id="btnAction" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>