
<form class="adddata" method="post" action="" enctype="multipart/form-data" >
    <h3>Thêm người dùng</h3>
    <div class="mb-3">
        <label htmlFor="inputEmail" class="form-label">Email</label>
        <input type="text" class="form-control" name="user_email">
    </div>
    <div class="mb-3">
        <label htmlFor="input_password" class="form-label">Mật khẩu</label>
        <input type="text" class="form-control" name="user_password">
    </div>
    <div class="mb-3">
        <label htmlFor="input_full_name" class="form-label">Họ tên</label>
        <input type="text" class="form-control" name="user_full_name">
    </div>
    <div class="mb-3">
        <label htmlFor="input_phone_number" class="form-label">Số điện thoại</label>
        <input type="Number" class="form-control" name="user_phone_number" rows="4">
    </div>
    <div class="mb-3">
        <label htmlFor="input_phone_number" class="form-label">Địa chỉ</label>
        <input type="text" class="form-control" name="user_address" rows="4">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" value="Admin" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Admin
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" value="Employee" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Nhân viên
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" value="User" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Người dùng
        </label>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Chọn ảnh</label>
        <input type="file" name="avatar" class="form-control2">
    </div>
    <button type="submit" class="btn btn-primary">Gửi</button>


</form>