<div class="container-fluid">
    <div class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Thêm ảnh sản phẩm</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="col-12" id="headerlist">
                    <div class="btnaddbanner">
                        <a href="/pro/list" class="btn btn-primary">Danh sách</a>
                    </div>
                </div>
            </div>
        </div>
    <form action="" method="post" enctype="multipart/form-data">
        <label>Ảnh</label>
        <div>
            <input type="file" id="image" multiple name="anh_product" /> <br><br>
        </div>
        <button class="btn btn-primary" type="submit">Thêm ảnh</button>
    </form>
</div>